<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a3314c5287e644e7b83670294eb926d1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a3314c5287e644e7b83670294eb926d1 = echarts.init(
            document.getElementById('a3314c5287e644e7b83670294eb926d1'), 'white', {renderer: 'canvas'});
        var option_a3314c5287e644e7b83670294eb926d1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "Prediction",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2022-06-08",
                    30406.0
                ],
                [
                    "2022-06-09",
                    31091.7
                ],
                [
                    "2022-06-10",
                    30293.3
                ],
                [
                    "2022-06-11",
                    30425.8
                ],
                [
                    "2022-06-12",
                    30501.8
                ],
                [
                    "2022-06-13",
                    32010.9
                ],
                [
                    "2022-06-14",
                    31785.3
                ],
                [
                    "2022-06-15",
                    30802.4
                ],
                [
                    "2022-06-16",
                    30698.8
                ],
                [
                    "2022-06-17",
                    29646.5
                ],
                [
                    "2022-06-18",
                    28901.4
                ],
                [
                    "2022-06-19",
                    27254.4
                ],
                [
                    "2022-06-20",
                    22842.0
                ],
                [
                    "2022-06-21",
                    22555.5
                ],
                [
                    "2022-06-22",
                    22945.3
                ],
                [
                    "2022-06-23",
                    20686.9
                ],
                [
                    "2022-06-24",
                    20983.7
                ],
                [
                    "2022-06-25",
                    20782.0
                ],
                [
                    "2022-06-26",
                    18342.4
                ],
                [
                    "2022-06-27",
                    20153.3
                ],
                [
                    "2022-06-28",
                    21111.6
                ],
                [
                    "2022-06-29",
                    20877.7
                ],
                [
                    "2022-06-30",
                    20702.3
                ],
                [
                    "2022-07-01",
                    21401.5
                ],
                [
                    "2022-07-02",
                    21476.7
                ],
                [
                    "2022-07-03",
                    21813.8
                ],
                [
                    "2022-07-04",
                    21509.9
                ],
                [
                    "2022-07-05",
                    21206.1
                ],
                [
                    "2022-07-06",
                    20390.6
                ],
                [
                    "2022-07-07",
                    20300.3
                ],
                [
                    "2022-07-08",
                    19791.2
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "Real",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2022-06-08",
                    30214.4
                ],
                [
                    "2022-06-09",
                    30112.0
                ],
                [
                    "2022-06-10",
                    29083.8
                ],
                [
                    "2022-06-11",
                    28360.8
                ],
                [
                    "2022-06-12",
                    26762.7
                ],
                [
                    "2022-06-13",
                    22487.4
                ],
                [
                    "2022-06-14",
                    22206.8
                ],
                [
                    "2022-06-15",
                    22572.8
                ],
                [
                    "2022-06-16",
                    20382.0
                ],
                [
                    "2022-06-17",
                    20643.7
                ],
                [
                    "2022-06-18",
                    20448.0
                ],
                [
                    "2022-06-19",
                    18080.9
                ],
                [
                    "2022-06-20",
                    19842.7
                ],
                [
                    "2022-06-21",
                    20774.6
                ],
                [
                    "2022-06-22",
                    20535.0
                ],
                [
                    "2022-06-23",
                    20358.5
                ],
                [
                    "2022-06-24",
                    21050.2
                ],
                [
                    "2022-06-25",
                    21123.1
                ],
                [
                    "2022-06-26",
                    21452.4
                ],
                [
                    "2022-06-27",
                    21164.5
                ],
                [
                    "2022-06-28",
                    20882.7
                ],
                [
                    "2022-06-29",
                    20081.8
                ],
                [
                    "2022-06-30",
                    19991.6
                ],
                [
                    "2022-07-01",
                    19484.4
                ],
                [
                    "2022-07-02",
                    19160.0
                ],
                [
                    "2022-07-03",
                    19270.8
                ],
                [
                    "2022-07-04",
                    20231.3
                ],
                [
                    "2022-07-05",
                    20190.1
                ],
                [
                    "2022-07-06",
                    20197.7
                ],
                [
                    "2022-07-07",
                    20433.2
                ],
                [
                    "2022-07-08",
                    21659.2
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "Prediction",
                "Real"
            ],
            "selected": {
                "Prediction": true,
                "Real": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2022-06-08",
                "2022-06-09",
                "2022-06-10",
                "2022-06-11",
                "2022-06-12",
                "2022-06-13",
                "2022-06-14",
                "2022-06-15",
                "2022-06-16",
                "2022-06-17",
                "2022-06-18",
                "2022-06-19",
                "2022-06-20",
                "2022-06-21",
                "2022-06-22",
                "2022-06-23",
                "2022-06-24",
                "2022-06-25",
                "2022-06-26",
                "2022-06-27",
                "2022-06-28",
                "2022-06-29",
                "2022-06-30",
                "2022-07-01",
                "2022-07-02",
                "2022-07-03",
                "2022-07-04",
                "2022-07-05",
                "2022-07-06",
                "2022-07-07",
                "2022-07-08"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bitcoin Prediction",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a3314c5287e644e7b83670294eb926d1.setOption(option_a3314c5287e644e7b83670294eb926d1);
    </script>
</body>
</html>
